
<table class="table">
<tr>
  <td>
    <!-- image display start-->
  <div id="imageCanvasDiv" class="item" (keydown.arrowright)="onRightArrowDown()"
      (keydown.arrowleft)="onLeftArrowDown()" (click)="onRightArrowDown()">
    <canvas #myCanvas class="canvas-style">
    </canvas>
    <table class="table">
      <tr>
        <td>
          <label> Camera ID: </label> {{cameraInFocus}}
        </td><td>
          <button type="button" align="center" class="btn btn-primary" (click)="startStop()">Start/Stop</button>
          <button type="button" align="center" class="btn btn-warning" (click)="switchCamera()">Switch Camera</button>
        </td>
        <td>
          <label> {{timestamp}} </label>
        </td>
      </tr>
    </table>
  </div>


    <!-- image display end-->
  </td>
<td>
<div class="col-md-4">
  <h3>Order Summary</h3>
</div>
<div>
  <table class="table">
    <tr>
      <td>
        <label>Order ID: </label>
      </td><td>  {{order.orderId}}  </td>
    </tr>
    <tr>
      <td>
        <label>Customer ID: </label>
      </td><td>  {{order.customerId}} </td>
    </tr>
    <tr>
      <td>
        <label>Order Date: </label>
      </td>
      <td>  {{order.orderDate}} </td>
    </tr>
    <tr>
      <td><label>Status: </label></td>
      <td>{{order.status}}</td>
    </tr>
  </table>
</div>
</td>

</tr>
</table>
<section>
  <header class="header">
    <div class="row">
        <button type="button" class="btn btn-primary" (click)="onAddAnnotation()">Add Annotation On Frame</button>
    </div>

  </header>
</section>
<div>
<form novalidate (ngSubmit)="onSaveAnnotation()">

<table>
  <tr *ngFor="let evnt of order.orderAnnotations">
    <td>
      <table class="table">
        <tr>
          <td><label><b>Left Hand</b> In:</label>
                <input type="checkbox" [value]="evnt.lhi" (input)="evnt.lhi = $event.target.value">
          </td><td><label>Out:</label>
                <input type="checkbox" [value]="evnt.lho" (input)="evnt.lho = $event.target.value">
          </td><td><label>Add:</label>
                <label><input type="radio" name="lproductAddRemove" [value]="true" [(ngModel)]="evnt.lprodAdd"></label>
          </td><td><label>Remove:</label>
                <label><input type="radio" name="lproductAddRemove" [value]="false" [(ngModel)]="evnt.lprodAdd"></label>
          </td><td><label>Shelf:</label>
          </td><td>
            <select name="lshelf" [(ngModel)]="evnt.lshelf">
              <option *ngFor="let shelf of shelves" value= {{shelf.id}}>
                {{shelf.id}}
              </option>
            </select>
          </td><td><label>Product:</label>
          <!--</td><td><input type="text" [value]="evnt.lproduct" (input)="evnt.lproduct = $event.target.value">-->
          </td><td>
            <select name="lproduct" [(ngModel)]="evnt.lproduct">
              <option *ngFor="let product of products" value= {{product.productId}}>
                {{product.productDesc}}
              </option>
            </select>
<!--          <div class="search-results">
            <input [value]="search" ngxTypeahead [taUrl]="url" [taParams]="params"
                              (taSelected)="handleResultSelected($event)"/>
          </div>
-->
          </td><td><label>Quantity:</label>
          </td><td><input type="text" [value]="evnt.lquantity" (input)="evnt.lquantity = $event.target.value">
          </td>
        </tr><tr>
        <td><label><b>Right Hand</b> In:</label>
              <input type="checkbox" [value]="evnt.rhi" (input)="evnt.rhi = $event.target.value">
            </td><td><label>Out:</label>
                <input type="checkbox" [value]="evnt.rho" (input)="evnt.rho = $event.target.value">

        </td><td><label>Add:</label>
              <label><input type="radio" name="rproductAddRemove" [value]="true" [(ngModel)]="evnt.rprodAdd"></label>
          </td><td><label>Remove:</label>
              <label><input type="radio" name="rproductAddRemove" [value]="false" [(ngModel)]="evnt.rprodAdd"></label>
        </td><td><label>Shelf:</label>
        </td><td>
          <select name="rshelf" [(ngModel)]="evnt.rshelf">
            <option *ngFor="let shelf of shelves" value= {{shelf.id}}>
              {{shelf.id}}
            </option>
          </select>
        </td><td><label>Product:</label>
        <!--</td><td><input type="text" [value]="evnt.rproduct" (input)="evnt.rproduct = $event.target.value">-->
        </td><td>
          <select name="rproduct" [(ngModel)]="evnt.rproduct">
            <option *ngFor="let product of products" value= {{product.productId}}>
              {{product.productDesc}}
            </option>
          </select>

          </td><td><label>Quantity:</label>
          </td><td><input type="text" [value]="evnt.rquantity" (input)="evnt.rquantity = $event.target.value">
          </td>
        </tr>
      </table>
    </td>
    <td>
      <button type="submit" class="btn btn-success" (click)="onSaveAnnotation(evnt)">✓</button>
      <button type="button" class="btn btn-danger" (click)="onAnnotationRemove(evnt)">X</button>
    </td>
  </tr>
</table>
</form>
</div>





<!--Event list-->
<div>
<section>
  <header class="header">
    <div class="row">
      <div class="col-md-4">
        <h4>Event List</h4>
      </div>
      <div class="col-md-4">

      </div>
    </div>

  </header>
</section>

<table class="table">
  <thead>
  <tr>
    <th>Camera</th>
    <th>Timestamp</th>
    <th>Movements</th>
    <th>Left Add</th>
    <th>Left Rem</th>
    <th>Left Shelf</th>
    <th>Quantity</th>
    <th>Right Add</th>
    <th>Right Rem</th>
    <th>Right Shelf</th>
    <th>Quantity</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let ev of order.orderEvents">
    <td>
      {{ev.camera}}
    </td>
    <td>
      {{ev.timestamp}}
    </td>
    <td>
      {{ev.movements}}
    </td>
    <td>
      {{ev.lproductAdded}}
    </td>
    <td>
      {{ev.lproductRemoved}}
    </td>
    <td>
      {{ev.lshelf}}
    </td>
    <td>
      {{ev.lproductQuantity}}
    </td>
    <td>
      {{ev.rproductAdded}}
    </td>
    <td>
      {{ev.rproductRemoved}}
    </td>
    <td>
      {{ev.rshelf}}
    </td>
    <td>
      {{ev.rproductQuantity}}
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="onEventDelete(ev)">X</button>
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
    <button type="button" class="btn btn-success" (click)="onSubmit()">Submit</button>
  </td>
<td>

  <button type="button" class="btn btn-warning" (click)="redirectOrderPage()">Cancel</button>
</td>
<td></td>
<td></td>
<td></td>
  </tr>

  </tbody>
</table>
</div>
