

<div class="col-md-4">
  <h2>Order Summary</h2>
</div>
<div>
  <table class="table">
    <tr>
      <td>
        <label>Order ID: </label>
      </td><td>  {{order.orderId}}  </td>
      <td>
        <label>Customer ID: </label>
      </td><td>  {{order.customerId}} </td>
    </tr><tr>
      <td>
        <label>Order Date: </label>
      </td><td>  {{order.orderDate}} </td>
      <td></td><td></td>
    </tr>
  </table>
</div>

<table class="table">
<tr>
  <td>
<div class="slider-holder">
    <span id="slider-image-1"></span>
    <span id="slider-image-2"></span>
    <span id="slider-image-3"></span>
    <div class="image-holder">
        <img src="1.jpg" class="slider-image" />
        <img src="2.jpg" class="slider-image" />
        <img src="3.jpg" class="slider-image" />
    </div>
    <div class="button-holder">
        <a href="#slider-image-1" class="slider-change"></a>
        <a href="#slider-image-2" class="slider-change"></a>
        <a href="#slider-image-3" class="slider-change"></a>
    </div>
</div>
</td><td>
<div class="col-md-4">
  <h3>Items</h3>
  <div class="col-md-2">
    <button type="button" class="btn btn-primary" (click)="redirectNewItemPage()">Add Item</button>
  </div>
</div>
<div>
  <form novalidate [formGroup]="orderForm" (ngSubmit)="onSubmit()">

  <table class="table">
    <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderItem of order.orderItems">
      <td>
        <input type="text" class="form-control" value="{{orderItem.product}}">
      </td>
      <td>
        <input type="text" class="form-control" value="{{orderItem.quantity}}">
      </td>
      <td>
        <button type="button" class="btn btn-danger" (click)="deleteOrderItem(orderItem)">Delete</button>
      </td>
    </tr>

    </tbody>
  </table>
    <button type="submit" class="btn btn-primary" (click)="submitVerify()">Update</button>
    <button type="button" class="btn btn-warning" (click)="redirectUserPage()">Reset</button>
    <pre>{{orderForm.value | json}}</pre>
  </form>
</div>
</td>
</tr>
</table>
